<section id="contact" itemscope itemtype="https://schema.org/ContactPage">
    <div class="feedback-container" [ngClass]="feedbackStatus">
        <p class="success">
            <span i18n="contact@@successfulSubmit">Thank you for contacting me, I'll reply to you very soon.</span>
            <fa-icon [icon]="faTimes" class="icon" title="Close" (click)="closeFeedbackMessage()"></fa-icon>
        </p>
        <p class="error">
            <span i18n="contact@@errorSubmit">Sorry, there is an instability, try again later, or contact me via email or social media.</span>
            <fa-icon [icon]="faTimes" class="icon" title="Close" (click)="closeFeedbackMessage()"></fa-icon>
        </p>
    </div>
    <div class="container" [ngClass]="{'fade': hasBeenSubmited}">
        <div class="left-side">
            <div class="title">
                <h1 i18n="nav@@contact">Contact</h1>
            </div>
            <div class="top-container">
                <div class="picture"></div>
                <div class="info">
                    <p class="name" *ngIf="name"><span itemprop="name">{{ name }}</span></p>
                    <p class="email" *ngIf="email"><fa-icon [icon]="faEnvelope" class="icon" title="Email"></fa-icon><a  href="mailto:{{ email }}" itemprop="email">{{ email }}</a></p>
                    <p class="phone" *ngIf="phone"><fa-icon [icon]="faPhone" class="icon" title="Phone"></fa-icon><a href="tel:{{ phone }}" itemprop="telephone">{{ phone }}</a></p>
                    <p class="location" *ngIf="location"><fa-icon [icon]="faMapMarkerAlt" class="icon" title="City"></fa-icon><span itemprop="city">{{ location }}</span></p>
                    <div class="map-container">
                        <lf-map></lf-map>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side">
            
        </div>
    </div>
    <img loading="lazy" height="705" src="./assets/template/contact/avatar.png" class="illustration" alt="illustration" itemprop="avatar">
    <div class="half-circle"></div>
</section>
