//----------------------------------*\
// Fonts
//----------------------------------*/
@import 'assets/scss/modules/_fonts.scss';
@import "~leaflet/dist/leaflet.css";

// primary background and font
$primary_font: "Montserrat", sans-serif;
// $primary_background: linear-gradient(-45deg, #d4e7fe, #edeef3);
$primary_background: #d4e7fe;


// font-weight
$thin:100;
$light:300;
$regular:400;
$semi-bold:600;
$bold:700;
$black:900;

// Font size
$font-xs:12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;

html, body {

    height: 100%;
    background: $primary_background;
    font-family: $primary_font;
    font-size: $primary-fs;
    font-weight: $regular;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

section {
    display: flex;
}

// Global Scrollbars
::-webkit-scrollbar {
    width: 7px;
}

// Track
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #1881d6;;
}

// Handle 
::-webkit-scrollbar-thumb {
    background: #b5afc4;
}

// Handle on hover 
::-webkit-scrollbar-thumb:hover {
    background:  #222f5c;
}

app-welcome, app-experience, app-about, app-posts, app-contact, app-code-samples { display: block; }